/**
* COLORS:
*  @primary        : #ffa03c
*  @darken-primary : #9e632a
*  @secundary      : #bce8f1
*  @danger         : #a94442
*  @success        : #3c763d
*  @gray-base      : #333
*  @gray-lighten   : #d0d0d0
*/

/** Header style */
#main-header { margin-bottom: 2.5em; }
#main-header .navbar-brand img { width: 120px; }

/** Footer style */
main { padding-bottom: 5em; } /* Overflow FIXUP */
#main-footer {
    padding-top: 1em;
    background-color: #333;
    color: #d0d0d0;
    border-top: 1px #9e632a solid;
}

/** Panel */
#section-nav { border-bottom: 1px #9e632a solid; padding: 1em 0; }

section section { border-top: 1px #9e632a solid; padding: 1em 0; }

.ref { color: #3c763d; }
.alt { color: #a94442; }